header {
  position: sticky;
  top: 0px;
  display: grid;
  grid-template-columns: 0.3fr 1fr 0.3fr;
  background-color: #32aeb1;
  align-items: center;
  height: 75px;
  padding: 0px 15px;
  z-index: 2;
  .logo {
    b {
      font-size: 28px;
      color: white;
    }
  }
  .options {
    display: flex;
    align-content: center;
    justify-content: flex-end;
    gap: 25px;
    .cart {
      position: relative;
      cursor: pointer;
      img {
        width: 30px;
        height: 30px;
      }
      span {
        position: absolute;
        top: -2px;
        right: 0px;
        background: #ee4380;
        border-radius: 6.5px;
        color: #ffffff;
        font-size: 10px;
        height: 15px;
        padding: 0px;
        text-align: center;
        width: 17px;
      }
    }
    .user {
      display: flex;
      align-items: center;
      gap: 5px;
      cursor: pointer;
      img {
        width: 30px;
        height: 30px;
      }
      span {
        color: white;
        font-size: 16px;
      }
    }
  }
}
