.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 6px 12px -4px rgba(11, 18, 25, 0.1);
  border-radius: 8px;
  padding: 12px;
  a {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  img {
    width: 100%;
    aspect-ratio: 1;
  }
  .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    span {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      &:first-child {
        color: #151b39;
        font-size: 20px;
        -webkit-line-clamp: 1;
      }
      &:last-child {
        -webkit-line-clamp: 2;
        color: #6f7284;
        font-size: 16px;
      }
    }
  }
  .offer {
    position: absolute;
    top: 15px;
    left: 15px;
    background: #84be52;
    border-radius: 4px;
    color: #fff;
    font-size: 12px;
    padding: 4px 7px;
  }
  .price {
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      color: #6f7284;
      font-size: 14px;
    }
    b {
      color: #ef4281;
      font-size: 16px;
    }
  }

  .mrp {
    color: #6f7284;
    font-size: 14px;
    &:last-child {
      text-decoration: line-through;
    }
  }
}
