<div class="card">
  <a [routerLink]="['/product', product.id, 'detail']">
    <span class="offer">{{ product.discountPercentage }} %</span>
    <img [src]="product.thumbnail" />
    <div class="info">
      <span>{{ product.title }}</span>
      <span>{{ product.description }}</span>
    </div>
    <div class="price">
      <span>Best Price *</span>
      <b>{{ discountPrice | currency : "INR" }}</b>
    </div>
    <div class="mrp">
      <span>MRP </span>
      <span>{{ product.price | currency : "INR" }}</span>
    </div>
  </a>
  <add-to-cart [product]="product" />
</div>
