.container {
  max-width: 1300px;
  margin: 15px auto;
  .title {
    font-size: 24px;
    color: #151b39;
    margin: 15px 0px;
  }
  section {
    display: grid;
    grid-template-columns: 1fr 0.4fr;
    gap: 15px;
    border-radius: 15px;
    .products {
      background-color: #fff;
      height: fit-content;
      .title {
        font-size: 16px;
        color: #83878a;
        padding: 16px 16px 8px;
        text-transform: uppercase;
        border-bottom: 1px solid #f3f7fb;
      }
      .list {
        display: flex;
        flex-direction: column;
      }
    }
    .add-btn {
      color: #24aeb1;
      text-transform: uppercase;
      font-size: 16px;
      border: none;
      font-weight: bold;
      padding: 15px;
      background-color: transparent;
    }
  }
  .empty-cart {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: 0px auto;
    .cart-img {
      display: flex;
      justify-content: center;
      img {
        aspect-ratio: 4 / 3;
        max-width: 50%;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin: 30px 0px;
      span {
        font-size: 16px;
        color: #6f7284;
        &:first-child {
          color: #151b39;
        }
      }
      button {
        width: 75%;
        margin-top: 30px;
        background: #24aeb1;
        font-size: 16px;
        color: #fff;
        border-radius: 4px;
        text-transform: uppercase;
        padding: 15px 0;
        border: none;
      }
    }
  }
}
