<div class="card">
  <a [routerLink]="['/product', product.id, 'detail']" class="info">
    <img [src]="product.thumbnail" />
    <div class="detail">
      <span class="name">{{ product.title }}</span>
      <span class="desc">{{ product.description }}</span>
      <span class="price">{{ product.discountPrice | currency : "INR" }}</span>
      <div class="mrp">
        <span>{{ product.price | currency : "INR" }}</span>
        <span>{{
          product.price - product.discountPrice | currency : "INR"
        }}</span>
      </div>
    </div>
  </a>
  <div class="actions">
    <button class="remove-btn" (click)="removeProduct()">
      <img src="assets/images/cart-remove.svg" />
    </button>
    <div class="quantity-btn">
      <button (click)="updateQuantity('decrease')">&#8722;</button>
      <span>{{ product.quantity }}</span>
      <button (click)="updateQuantity('increase')">&#43;</button>
    </div>
  </div>
</div>
