<div class="search-box">
  <input (input)="handleSearch($event)" placeholder="Search for products" />
  <div class="suggestions" *ngIf="products.length || search.length">
    <ng-container *ngIf="products.length !== 0; else notFound">
      <div
        *ngFor="let product of products"
        class="card"
        (click)="handleClick(product.id)"
      >
        <img [src]="product.thumbnail" />
        <span>{{ product.title }}</span>
      </div>
    </ng-container>
    <ng-template #notFound>
      <span class="not-found">Sorry! No Product Found</span>
    </ng-template>
  </div>
</div>
<div class="overlay" *ngIf="search.length" (click)="resetSearch()"></div>
